addict==2.2.1
attrs==21.4.0
decorator==4.4.2
dvc[ssh]==2.10.2
einops==0.5.0
fsspec==2022.11.0
GPUtil==1.4.0
hyperopt==0.2.7
ipython==7.34.0
lightgbm==3.3.2
numpy==1.19.1
opencv-python==4.5.5.62
openpyxl
packaging==21.3
pandas==1.3.5
pre-commit==2.20.0
prettytable==0.7.2
protobuf==3.20.*   # TypeError: Descriptors cannot not be created directly, https://stackoverflow.com/questions/72441758/typeerror-descriptors-cannot-not-be-created-directly
psnr_hvsm==0.1.0
psutil==5.9.1
ptflops==0.6.5
pybind11
pynvml==8.0.4
pyrtools==1.0.0
pytorch-msssim==0.2.1
scikit-image==0.15.0
scikit-learn==1.0.2
scipy==1.5.2
setuptools==59.5.0  # fix module 'distutils' has no attribute 'version', https://github.com/pytorch/pytorch/issues/69894
tensorboard==2.9.0
wheel==0.34.2
scikit-learn-extra==0.3.0
commentjson==0.9.0
python-gitlab==3.15.0
